/* Ejercicio 1 */
p{
    color: blue;
}

.destacado{
    background-color: lightyellow;
}


/* Ejercicio 2 */
#foto-perfil{
    border: 3px dotted red;
    padding:10px;
    margin:15px 0;
    width: 200px;
}

/* Ejercicio 3: selector de atributo */

a[target="_blank"]::after{
    content: " 🔗";
}

/* Ejercicio 4: combinador descendiente */
#experiencia p{
    font-size: 0.9em;
}

/* Ejercicio 5: combinador hijo directo */

#experiencia > ul > li {
    list-style-type: square;
}
