* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7cf62;
}

.caja {
    width: 200px;
    /* Altura automática según el contenido */
    background-color: lightblue;
    border: 2px solid blue;
    margin: 10px;
    padding: 10px;
}

/* Identificadores para personalizar cada caja */
#caja1 {
    /* mantiene valores por defecto */
     width: 300px;
    height: 100px;
    padding: 20px;
    border: 4px dashed rgb(117, 0, 128);
    margin: 20px;

}

#caja2 {
    padding: 30px;  /* Aumenta el padding */
    background-color: lightgreen;

}

#caja3 {
    margin: 30px;   /* Aumenta el margen */
    background-color: lightcoral;
    border: 5px solid red;

}
