*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background:#f4f4f4;
}

h1{
    text-align:center;
}

.contenedor{
    width:906px;
    margin:auto;
    border:3px solid black;
    background:white;

}

.card{
    width: 30.33%;
    padding:50px;
    border:25px solid red;
    float:left;
    background:#e6f2ff;
    outline:3px dashed red;
}

button{
    padding:10px;
}